body {
	background-image: url("img/math.jpg");
	}
h1 {
	text-align: center;
	font-size: 60px;
	font-family: impact;
	color: yellow;

}
.uitleg {
	text-align: center;
	font-size: 50px;
	font-family: impact;
	color: yellow;
}

.uitlegTitel {
	text-align: center;
	font-size: 100px;
	font-family: impact;
	color: yellow;
}

.succes {
	text-align: center;
	font-size: 200px;
	font-family: impact;
	color: gold;
}

.naam {
	text-align: center;
	font-size: 80px;
	font-family: impact;
	color: gold;
}

#button1 {
	border: outset;
	border-width: 25px;
	border-color: yellow;
	font-family: lucida console;
	font-size: 130px;
	color: blue;
	margin: 30px;
	border-radius: 50%;
	width: 500px;
	height: 500px;

}

.div1 {
	text-align: center;
}